<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Homepage</title>
	<link th:href="@{/css/main.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Blood and Medicine Donation</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/med_request">View All Medicine Request</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/blood_request">View All Blood Request</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/gg_wp">List of Blood donor</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/gg_wp">Forum</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" th:href="@{/profile/{name}(name=${user.email})}">Profile</a>
					</li>
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">Donation will cost you nothing, but it will save a life!</h1>
			</div>
		</div>
	</header>


	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Reasons to Donate Blood and Medicine</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Stimulates Blood Cell Production.</h4></div>
					<div class="h-body text-center">
						<p>Black and white illustration of a kidney producing erythropoietin to stimulate red blood cell production in bone marrow.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Blood donation helps to maintain healthy liver.</h4></div>
					<div class="h-body text-center">
						<p>Blood donation is beneficial in reducing the risk of heart and liver ailments caused by the iron overload in the body. Intake of iron-rich diet may increase the iron levels in the body, and since only limited proportions can be absorbed, excess iron gets stored in heart, liver, and pancreas.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>All Medicine are getting used</h4></div>
					<div class="h-body text-center">
						<p>The human body has incredible regenerative powers. For example, your entire brain replaces itself every 2 months; your liver, every 6 weeks; and your epidermis, every 35 days. Even your stomach lining replaces itself every 3 to 4 days. If your body didn't do this, the strong acids used by your stomach to digest food would also digest your stomach!</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Poor people are getting help</h4></div>
					<div class="h-body text-center">
						<p>When you look at an object, the image of that object appears upside down on your retina. However, your brain automatically corrects for this, allowing you to perceive the object the right side up.</p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>01646335825<br>
								<a href="mailto:#">Shihab.uddin.sikder@g.bracu.ac.bd</a><br>
								<br>
								Solamid,Vtara,Dhaka-1212,Bangladesh
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">About the Project</h3>
						<div class="widget-body">
							<p>My very first Solo Project On anything. In this project, I use java spring boot for backend and thymeleaf for front end.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>
</body>
</html>
